* {
    margin: 0;
    padding: 0;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url(images/open-mac.jpg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.carousel-image-2 {
    background: url(images/mac-angle.jpg);
    background-position: center;
    background-color: black;
    background-size: 40%;
    background-repeat: no-repeat;
}

.carousel-image-3 {
    background: url(images/mac-dark.jpg);
    background-position: center;
    background-color: black;
    background-size: 30%;
    background-repeat: no-repeat;
}

@media (max-width: 1150px) {
    .carousel-image-1,
    .carousel-image-2,
    .carousel-image-3 {
        background-size: 80%; 
        background-repeat: no-repeat; 
        background-color: black;  
    }
}

.navbar, .dropdown-menu {
    background-color: black;
}

.navbar-brand {
    font-size: 1.4rem;
}

.navbar.scrolled {
    background-color: rgba(68, 65, 65, 0.2)
}

@media (max-width: 510px) {
    .text-shrink {
        font-size: 2.5rem;  
    }
}

/* #languages {
    position: relative;
    background-image: url(images/light-pattern.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

#languages {
    background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(22%, rgba(0,0,0,1)), color-stop(80%, rgba(52,58,64,1)), color-stop(100%, rgba(52,58,64,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(52,58,64,1) 80%, rgba(52,58,64,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#343a40', GradientType=0 );
}

#portfolio {
    background: rgba(52,58,64,1);
background: -moz-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,58,64,1)), color-stop(20%, rgba(52,58,64,1)), color-stop(46%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#000000', GradientType=0 );background: rgba(52,58,64,1);
background: -moz-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(52,58,64,1)), color-stop(20%, rgba(52,58,64,1)), color-stop(78%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(52,58,64,1) 0%, rgba(52,58,64,1) 20%, rgba(0,0,0,1) 78%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a40', endColorstr='#000000', GradientType=0 );
}